.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 35px;
    background-color: black;
    position: fixed;
    top: 0px;
    color: white;
    padding:10px;
    margin-bottom:30px;
}

